@model SoporteDteCore.Models.FacturaElectronica

@{
    ViewData["Title"] = "Editar Estado";
}
<h3 class="text-primary">Editar Estado</h3>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="RutCliente" class="control-label"></label>
            <input asp-for="RutCliente" class="form-control" />
            <span asp-validation-for="RutCliente" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="RazonSocial" class="control-label"></label>
            <input asp-for="RazonSocial" class="form-control" />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4">
            <label asp-for="FechaInicio" class="control-label"></label>
            <label class="form-control">@Model.FechaInicio.ToString("dd/MM/yyyy")</label>
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-4">
            <label asp-for="Estado" class="control-label"></label>
            <select asp-for="Estado" class="form-control">
                <option value="Solicitado">Solicitado</option>
                <option value="SisgenInstalado">Sisgen Instalado</option>
                <option value="Certificando">Certificando</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Instalado">Instalado</option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="form-group col-lg-4">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group col-lg-4">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>


    <input asp-for="EmailSolicitado" class="text-danger" hidden />
    <input asp-for="EmailSisgenInstalado" class="text-danger" hidden />
    <input asp-for="EmailCertificando" class="text-danger" hidden />
    <input asp-for="EmailFinalizado" class="text-danger" hidden />
    <input asp-for="EmailInstalado" class="text-danger" hidden />

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-outline-primary col-sm-12 col-md-12 col-lg-2" />
        <a asp-action="Index" class="btn btn-outline-dark col-sm-12 col-md-12 col-lg-2">Volver a la lista</a>
    </div>
</form>