@model IEnumerable<SoporteDteCore.Models.Visita>

@{
    ViewData["Title"] = "Visitas Desactivadas";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <h3 class="text-info">Visitas Desactivadas</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 text-right">
        <a asp-action="Index" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Volver">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
<br />
<div class="table-responsive">
    <table id="tableVDesactivadas" class="table table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FechaProgramacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EstadoFinal)
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tableVDesactivadas").DataTable({
                pagelength: 5,
                destroy: true,
                dom: 'Blfrtip',
                buttons: [
                    'excel'
                ],
                ajax: {
                    url: '/Admin/Visitas/GetVDesactivadas',
                    type: 'GET',
                    dataType: 'json'
                },
                "columns": [
                    { "data": "razonSocial" },
                    {
                        "data": "fechaProgramacion",
                        render: function (data, type, row) {
                            return moment(data).format('YYYY-MM-DD, h:mm:ss a');
                        }
                    },
                    { "data": "estadoFinal" },
                    {
                        "mRender": function (data, type, row) {
                            console.log(row);
                            var btnEdit = '<a href="Edit/' + row.id + '" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i><a/>';
                            var btnDetails = '<a href="Details/' + row.id + '" class="btn btn-outline-primary btn-sm"><i class="far fa-file-alt"></i><a/>';
                            var btnDelete = '<a href="Delete/' + row.id + '" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i><a/>';

                            return btnEdit + ' ' + btnDetails + ' ' + btnDelete;
                        }
                    }
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Resultados",
                    "infoEmpty": "Mostrando 0 to 0 of 0 resultados",
                    "infoFiltered": "(Filtrado de _MAX_ total Resultados)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Resultados",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
            orderDatatables();
        });
    </script>
}