@model SoporteDteCore.Models.BoletaElectronica

@{
    ViewData["Title"] = "Crear Estado";
}
<h3 class="text-info">Crear Estado</h3>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create" onsubmit="btnSubmit.disabled = true; return true;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="RutCliente" class="control-label"></label>
                    <input asp-for="RutCliente" class="form-control" />
                    <span asp-validation-for="RutCliente" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="RazonSocial" class="control-label"></label>
                    <input asp-for="RazonSocial" class="form-control" />
                    <span asp-validation-for="RazonSocial" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" type="date" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control">
                        <option value="@Estado.Solicitado">Solicitado</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>


            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="Facturador" class="control-label"></label>
                    <select asp-for="Facturador" class="form-control">
                        <option value="0">- Seleccione un Facturador-</option>
                        <option value="Directo">Factura Directa</option>
                        <option value="Acepta">Factura con Acepta</option>
                    </select>
                    <span asp-validation-for="Facturador" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label asp-for="CambioFacturador" class="control-label"></label>
                    <select asp-for="CambioFacturador" class="form-control">
                        <option value="0">- Seleccione si cliente se desea cambiar o no -</option>
                        <option value="true">SI</option>
                        <option value="false">NO</option>
                    </select>
                    <span asp-validation-for="CambioFacturador" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <textarea asp-for="Observacion" class="form-control"></textarea>
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-info col-sm-12 col-md-12 col-lg-2" id="btnSubmit" />
                <a asp-action="Index" class="btn btn-outline-dark col-sm-12 col-md-12 col-lg-2">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>